
  <div class="mb-5">
      <div class="row">
          <div class="col-8">
              <h4 class="text-muted"><b>Lista general de Objetos del sistema</b></h4>
          </div>
          <div class="col-4">
              <button class="btn btn-sm btn-outline-primary ms-2" *ngIf="_permisos.PERMISO_INSERCION==1" (click)="openModal(createObject)"><i class="fas fa-plus"></i> Crear objeto</button>
          </div>
          <div class="col-12">
              <form>
                  <div class="mb-2 mt-2 row">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Filtrar:</label>
                    <div class="col-xs-3 col-sm-auto">
                      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
                    </div>
                  </div>
                </form>
                <div class="" style="width: auto; height: 400px; overflow: scroll;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">TIPO OBJETO</th>
                          <th scope="col">OBJETO</th>
                          <th scope="col">DESCRIPCION</th>
                          <th scope="col">CREADO POR</th>
                          <th scope="col">EDITAR</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let ob of objectsInter | async; index as i">
                          <th scope="row">{{ i + 1 }}</th>
                          <td><ngb-highlight [result]="ob.TIPO_OBJETO" [term]="filter.value"></ngb-highlight></td>
                          <td><ngb-highlight [result]="ob.OBJETOS" [term]="filter.value"></ngb-highlight></td>
                          <td><ngb-highlight [result]="ob.DESCRIPCION" [term]="filter.value"></ngb-highlight></td>
                          <td><ngb-highlight [result]="ob.CREADO_POR | number" [term]="filter.value"></ngb-highlight></td>
                          <td><button class="btn btn-disable btn-sm btn-outline-primary ms-2" *ngIf="_permisos.PERMISO_ACTUALIZACION==1" (click)="editObj(editObject, ob.ID_OBJETO)"><i class="fas fa-pen"></i></button></td>
                        </tr>
                        </tbody>
                      </table>
                </div>
          </div>
      </div>
  </div>

<!--Modal para actualizar objetos-->
<ng-template #editObject let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
            <button type="button" class="btn-close" (click)="cerrar()"></button>
        </div>
            <div class="modal-body">
                <div>
                    <div class="row m-3">
                        <div class="col-12 row contenedor" style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
                            <!--Cuadro contenedor de informacion-->
                            <h2 style="color: #0846ffff; margin-top: 20px;">Actualización de objetos</h2>

                            <div class="row">
                                <div class="col-6">
                                    <div class="login-content">
                                        <form>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                                <div class="div">
                                                    <input class="" type="text" placeholder="Nombre del objeto" [(ngModel)]="datoObjeto.OBJETOS" name="objeto">
                                                </div>
                                            </div>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-sitemap"></i>
                                                </div>
                                                <div class="div">
                                                    <input class="" type="text" placeholder="Tipo de Objeto" [(ngModel)]="datoObjeto.TIPO_OBJETO" name="tipoObjeto">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="login-content">
                                        <form>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-file"></i>
                                                </div>
                                                <div class="div">
                                                    <input type="text" placeholder="Descripción" [(ngModel)]="datoObjeto.DESCRIPCION" name="descripcion">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <input type="button" class="btn" value="Actualizar" (click)="evaluarDatos('act')">
                                </div>
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="enam">
                                {{msj}}
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row p-3">
                <p class="text-muted text-center">Sistema de actualización por Administración</p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #createObject let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
            <div class="modal-body">
                <div>
                    <div class="row m-3">
                        <div class="row contenedor" style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
                            <!--Cuadro contenedor de informacion-->
                            <h2 style="color: #0846ffff; margin-top: 20px;">Creación de objetos</h2>
                            <div class="row">
                                <div class="col-6">
                                    <div class="login-content">
                                        <form>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                                <div class="div">
                                                    <input class="" type="text" placeholder="Nombre del objeto" [(ngModel)]="datoObjeto.OBJETOS" name="objeto">
                                                </div>
                                            </div>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-sitemap"></i>
                                                </div>
                                                <div class="div">
                                                    <input class="" type="text" placeholder="Tipo de Objeto" [(ngModel)]="datoObjeto.TIPO_OBJETO" name="tipoObjeto">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="login-content">
                                        <form>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-file"></i>
                                                </div>
                                                <div class="div">
                                                    <input type="text" placeholder="Descripción" [(ngModel)]="datoObjeto.DESCRIPCION" name="descripcion">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <input type="button" class="btn" value="Crear objeto" (click)="evaluarDatos('add')">
                                </div>
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="enam">
                                {{msj}}
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row p-3">
                <p class="text-muted text-center">Sistema de objetos Maelcon S de R. L.</p>
            </div>
        </div>
    </div>
</ng-template>
