<div class="contenedor row justify-content-between m-3" style="position: relative;">
    <div class="col-12 p-3 row">
        <div class="col-4 login-content">
            <form>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="div">
                        <input class="" type="text" placeholder="Producto, proveedor, estado..." >
                    </div>
                </div>
            </form>
        </div>
        <div class="col-8 d-flex" >
            <div class="col pt-3 pb-3" style="text-align-last:right;">
                <button class="btn-success m-3" style="text-align-last:auto;" (click)="openModal(newShopping)"><i class="fas fa-plus"></i> Nueva compra</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
      <div class="justify-content m-3 d-flex">
        <div class="d-flex">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page_number" [pageSize]="page_size"
            (pageChange)="refreshCompras()">
          </ngb-pagination>
        </div>
        <div class="d-flex">
          <select class="custom-select" style="width: auto" [(ngModel)]="page_size" (ngModelChange)="refreshCompras()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
      </div>
      <div class="col-6" *ngFor="let comp of _compras2 | paginate:page_size:page_number">
        <div>
          <!--Cuadro contenedor de informacion-->
          <div class="car-inventary row contenedor p-1" style="position: relative;">
              <div class="p-2" style="text-align-last: center;">
                <h4 style="color: #0846ffff; margin-top: 20px;">Compra#{{comp.ID_COMPRA}}</h4>
                <p class="text-muted">Información tarjeta de almacen</p>
                <div *ngIf="!comp.ESTADO && comp.ID_USUARIO==_usAct">
                  <button class="btn-xs btn-edit" (mouseover)="openModl(comp.ID_COMPRA)" (click)="openModal(editCard)"><i class="fas fa-pen"></i></button>
                </div>
              </div>
              <!--Columna 1 de informacion-->
              <div class="col-6 p-3">
                  <div class="login-content">
                      <form>
                          <div class="input-div one">
                              <div class="i">
                                  <i class="fas fa-handshake"></i>
                              </div>
                              <div class="div">
                                  <input class="" type="text" value="Proveedor" [value]="comp.PROVEEDOR" name="proveedor" readonly>
                              </div>
                              <span class="text-muted details">Proveedor del producto</span>
                          </div>

                          <div class="input-div one">
                              <div class="i">
                                  <i class="fas fa-user"></i>
                              </div>
                              <div class="div">
                                  <input class="" type="text" value="Usuario" [value]="comp.USUARIO" name="proveedor" name="usuario" readonly>
                              </div>
                              <span class="text-muted details">Usuario encargado</span>
                          </div>

                          <div class="input-div one">
                              <div class="i">
                                  <i class="fas fa-calendar"></i>
                              </div>
                              <div class="div">
                                  <input class="" type="text" value="2022-12-12" [value]="comp.FECHA_COMPRA" name="fecha" readonly>
                              </div>
                              <span class="text-muted details">Fecha de compra</span>
                          </div>
                          <div class="input-div one">
                              <div class="i">
                                  <i class="fas fa-info"></i>
                              </div>
                              <div class="div">
                                  <input class="" type="text" value="Observacion" [value]="comp.OBSERVACION_COMPRA" name="observacion" readonly>
                              </div>
                              <span class="text-muted details">Observaciones</span>
                          </div>
                      </form>
                  </div>
              </div>
              <!--Columna 2 de informacion-->
              <div class="col-6" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
                  <div class="login-content">
                      <form>
                          <div class="input-div one">
                              <div class="i">
                                  <i class="fas fa-credit-card"></i>
                              </div>
                              <div class="div">
                                  <select class="form-control" value="Tipo de pago" [(ngModel)]="comp.ID_PAGO" name="pago" disabled>
                                    <option disabled>Seleccione tipo de pago</option>
                                    <option *ngFor="let pago of _metodosPagos" [value]="pago.ID_PAGO">{{pago.FORMA_PAGO}}</option>
                                  </select>
                              </div>
                              <span class="text-muted details">Tipo de pago</span>
                          </div>
                          <div class="input-div one">
                              <div class="i">
                                  <i class="fas fa-coins"></i>
                              </div>
                              <div class="div">
                                  <input class="" type="number" value="500.25" [(ngModel)]="comp.TOTAL_COMPRA" name="total" readonly>
                              </div>
                              <span class="text-muted details">Total Compra</span>
                          </div>
                          <div class="input-div one">
                              <div class="i">
                                  <i class="fas fa-coins"></i>
                              </div>
                              <div class="div">
                                  <input class="" type="number" value="25.30" [(ngModel)]="comp.ISV_COMPRA" name="isv" readonly>
                              </div>
                              <span class="text-muted details">ISV sobre compra</span>
                          </div>
                          <div class="justify-content-center">
                              <span style="position: absolute;">
                                  <div *ngIf="!comp.ESTADO else inactivo" class="form-check form-switch text-success">
                                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" disabled>
                                      <label class="form-check-label" for="flexSwitchCheckDefault">En proceso</label>
                                  </div>
                                  <ng-template #inactivo>
                                      <div class="form-check form-switch text-danger">
                                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked disabled>
                                          <label class="form-check-label" for="flexSwitchCheckDefault">Finalizada</label>
                                      </div>
                                  </ng-template>
                              </span>

                          </div>
                      </form>
                  </div>
              </div>
              <div class="col-12 row justify-content-between">
                  <div class="col-6">

                  </div>
                  <div class="col-6">
                      <input type="button" class="btn" value="Ver detalles" (mouseover)="openModl(comp.ID_COMPRA)" (click)="openModal(listProducts)">
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="justify-content m-3 d-flex">
        <div class="d-flex">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page_number" [pageSize]="page_size"
            (pageChange)="refreshCompras()">
          </ngb-pagination>
        </div>
        <div class="d-flex">
          <select class="custom-select" style="width: auto" [(ngModel)]="page_size" (ngModelChange)="refreshCompras()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
      </div>
    </div>
</div>

<!--Modal para actualizar-->
<ng-template #editCard let-modal>
  <div class="modal-content">
      <div class="modal-body">
          <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
              <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div>
              <div class="row m-3">
                  <div class="row contenedor" style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
                      <!--Cuadro contenedor de informacion-->
                      <app-details-shopping (datsCompAct)="actDatosComp($event)" (listDetails)="obtLista($event)" (listaCompras)="ProcesarListComp($event)"></app-details-shopping>
                  </div>
              </div>
          </div>
          <div class="row mb-3">
              <p class="text-muted text-center">Sistema de compras Maelcon S de R. L.</p>
          </div>
      </div>
  </div>
</ng-template>

<!--Crear nueva compra-->
<ng-template #newShopping let-modal>
  <div class="modal-content">
    <div class=" d-flex justify-content-end m-2" style="text-align: center; display: block;">
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <hr>
    <div class="modal-body">
      <div class="p-3">
        <div class="row contenedor" style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
          <!--Cuadro contenedor de informacion-->
          <h2 style="color: #0846ffff; margin-top: 20px;">Nuevo encabezado de compra</h2>
          <div class="row">
                <div class="col-6 p-3">
                    <div class="login-content">
                        <form>
                            <div class="input-div">
                                <div class="i">
                                    <i class="fas fa-handshake"></i>
                                </div>
                                <div class="div">
                                    <select class="form-control" placeholder="Proveedor" [(ngModel)]="datosCompra.ID_PROVEEDOR" name="proveedorSelect">
                                      <option disabled>Seleccione proveedor</option>
                                      <option *ngFor="let prov of _proveedores" [ngValue]="prov.ID_PROVEEDOR">{{prov.NOMBRE_PROVEEDOR}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-div">
                                <div class="i">
                                    <i class="fas fa-credit-card"></i>
                                </div>
                                <div class="div">
                                  <select class="form-control" placeholder="Tipo Pago" [(ngModel)]="datosCompra.ID_PAGO" name="tipoPago">
                                    <option disabled>Seleccione tipo de pago</option>
                                    <option *ngFor="let pago of _metodosPagos" [ngValue]="pago.ID_PAGO">{{pago.FORMA_PAGO}}</option>
                                  </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 p-3">
                    <div class="login-content">
                        <form>
                            <div class="input-div">
                                <div class="i">
                                    <i class="fas fa-info"></i>
                                </div>
                                <div class="div">
                                    <input type="text" placeholder="Observacion" [(ngModel)]="datosCompra.OBSERVACION_COMPRA" name="observacion">
                                </div>
                            </div>
                        </form>
                    </div>
                    <input type="button" class="btn" value="Crear compra" (click)="crearCompra()">
                </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
          <p class="text-muted text-center">Sistema de compras Maelcon S de R. L.</p>
      </div>
    </div>
  </div>
</ng-template>

<!--Modal para ver lista de productos-->
<ng-template #listProducts let-modal>
    <div class="modal-content">
        <div class="modal-body">
            <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
                <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
            </div>
                <app-view-products [viewOption]="shopping"></app-view-products>
            <div class="row">
            </div>
        </div>
</div>
</ng-template>
