<div class="m-3">
  <div class="row">
    <div class="col-12 contenedor p-4" style=" align-items: center; background-color: #fff; border-radius: 15px;">
      <div class="row">
        <div class="col-6">
          <h3 class="text-muted"><b>Proveedores de producto</b></h3>
          <p class="text-muted">Lista oficial de proveedores de productos para la empresa.</p>
        </div>
        <div class="col-6">
          <button class="btn m-3" *ngIf="_permisos.PERMISO_INSERCION==1" (click)="openModalAdd(addProvider)"><i class="fa fa-plus"></i> Crear proveedor</button>
        </div>
      </div>
      <div class="row">
        <form>
          <div class="mb-3 mt-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Busqueda por palabras clave:</label>
            <div class="col-xs-3 col-sm-auto">
              <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
            </div>
          </div>
        </form>
      </div>
      <div class="">
        <div class="" style="width: 100%; height: 400px; overflow: scroll;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">RTN</th>
                <th scope="col">TELEFONO</th>
                <th scope="col">ID</th>
                <th scope="col">CORREO</th>
                <th scope="col">EDITAR</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prov of provInter | async; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <ngb-highlight [result]="prov.NOMBRE_PROVEEDOR" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="prov.RTN" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="prov.TELEFONO_PROVEEDOR" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="prov.ID_PROVEEDOR | number" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="prov.CORREO_PROVEEDOR" [term]="filter.value"></ngb-highlight>
                </td>
                <td><button class="btn btn-sm btn-outline-primary ms-1 float" style="margin: 0%; height: 35px;" *ngIf="_permisos.PERMISO_ACTUALIZACION==1" (click)="openModalEdit(editProvider, prov.ID_PROVEEDOR)"><i class="fas fa-pen"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

  <ng-template #editProvider let-modal>
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
          <button type="button" id="closeActProv" class="btn-close" (click)="modal.dismiss('Cross click');cancel()"></button>
        </div>
        <div class="m-3">
          <div class="row">
            <div class="row contenedor p-3"
              style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
              <!--Cuadro contenedor de informacion-->
              <h2 style="color: #0846ffff; margin-top: 20px;">Actualizar Proveedor</h2>
              <p class="text-muted">Actualización de información de un proveedor</p>
              <!--Columna 1 de informacion-->
              <div class="col-6 p-3">
                <div class="login-content">
                  <form>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-address-card"></i>
                      </div>
                      <div class="div">
                        <input type="text" maxlength="14" minlength="14" placeholder="RTN" [(ngModel)]="datosProv.RTN" name="rtn">
                      </div>
                    </div>

                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-user"></i>
                      </div>
                      <div class="div">
                        <input class="" type="text" placeholder="Nombre" [(ngModel)]="datosProv.NOMBRE_PROVEEDOR" name="nombre">
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!--Columna 2 de informacion-->
              <div class="col-6 p-3" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
                <div class="login-content">
                  <form>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-phone"></i>
                      </div>
                      <div class="div">
                        <input type="text" minlength="8" maxlength="8" placeholder="Telefono" [(ngModel)]="datosProv.TELEFONO_PROVEEDOR" name="telefono">
                      </div>
                    </div>

                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-at"></i>
                      </div>
                      <div class="div">
                        <input class="" type="email" placeholder="Correo electronico"
                          [(ngModel)]="datosProv.CORREO_PROVEEDOR" name="email">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12 row justify-content-between">
                <div class="col-6">
                  <input type="button" class="btn btn-cancel" value="Cancelar" (click)="modal.dismiss('Cross click');cancel()">
                </div>
                <div class="col-6">
                  <input type="button" class="btn" value="Actualizar" (click)="evaluarDatos('act')">
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="enam">
                  {{msj}}
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-3">
          <p class="text-muted text-center">Sistema de gestion de personas Maelcon S de R. L.</p>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #addProvider let-modal>
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
          <button type="button" id="closeAddProv" class="btn-close" (click)="modal.dismiss('Cross click');cerrar()"></button>
        </div>
        <div class="m-3">
          <div class="row m-3">
            <div class="row contenedor p-3"
              style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
              <!--Cuadro contenedor de informacion-->
              <h2 style="color: #0846ffff; margin-top: 20px;">Crear Proveedor</h2>
              <p class="text-muted">Crear nueva información de un proveedor</p>
              <!--Columna 1 de informacion-->
              <div class="col-6 p-3">
                <div class="login-content">
                  <form>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-address-card"></i>
                      </div>
                      <div class="div">
                        <input type="text" maxlength="14" minlength="14" placeholder="RTN" [(ngModel)]="datosProv.RTN"
                          name="rtn">
                      </div>
                    </div>

                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-user"></i>
                      </div>
                      <div class="div">
                        <input class="" type="text" placeholder="Nombre" [(ngModel)]="datosProv.NOMBRE_PROVEEDOR"
                          name="nombre">
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!--Columna 2 de informacion-->
              <div class="col-6 p-3" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
                <div class="login-content">
                  <form>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-phone"></i>
                      </div>
                      <div class="div">
                        <input type="text" minlength="8" maxlength="8" placeholder="Telefono"
                          [(ngModel)]="datosProv.TELEFONO_PROVEEDOR" name="telefono">
                      </div>
                    </div>

                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-at"></i>
                      </div>
                      <div class="div">
                        <input class="" type="email" placeholder="Correo electronico"
                          [(ngModel)]="datosProv.CORREO_PROVEEDOR" name="email">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12 row justify-content-between">
                <div class="col-6">
                  <input type="button" class="btn btn-cancel" value="Cancelar" (click)="modal.dismiss('Cross click');cerrar()">
                </div>
                <div class="col-6">
                  <input type="button" class="btn" value="Crear" (click)="evaluarDatos('add')">
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="enam">
                  {{msj}}
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-3">
          <p class="text-muted text-center">Sistema de Inventario Maelcon S de R. L.</p>
        </div>
      </div>
    </div>
  </ng-template>
