<div class="" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col m-2" style="text-align-last: left;">
        <a class=""><img src="../../../assets/Letras PNG.png" style="max-height: 80px;" alt="Maelcon"></a>
      </div>
      <div class="col" style="text-align-last: right;">
        <div class="btn-group" role="group">
            <button type="button" class="btn" (click)="change('login')">Iniciar</button>
            <button type="button" class="btn" (click)="change('help')"><i class="fas fa-question 2x"></i> Ayuda</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="op=='login';else help">
  <div *ngIf="op2=='recovery';else log">
    <app-recovery-password (login)="loguearse($event)"></app-recovery-password>
  </div>

  <ng-template #log>
    <app-login (setUser)="actualizarUser($event)"></app-login>
  </ng-template>
</div>

<ng-template #help>
  <app-information-v2></app-information-v2>
</ng-template>
