<div *ngIf = "actionVal == 0; else editMail">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <h2 style="color: #0846ffff; margin-top: 20px;">Servidor de Correos</h2>
            <p class="text-muted">Configuración para el envio de correos eléctronicos</p>
            <!--Columna 1 de informacion-->
            <div class="col-6">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-cloud"></i>
                            </div>
                            <div class="div">
                                <input class="" type="text" value="HOST" name="host" readonly>
                            </div>
                        </div>
  
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <input class="" type="text" value="Usuario del correo" name="usuario" readonly>
                            </div>
                        </div>

                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-key"></i>
                            </div>
                            <div class="div">
                                <input class="" type="password" value="App Contraseña" name="contraseña" readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
  
            <!--Columna 2 de informacion-->
            <div class="col-6" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                              <i class="fas fa-envelope"></i>
                            </div>
                            <div class="div">
                                <input type="text" value="Proveedor de servicio" name="proveedor" readonly>
                            </div>
                        </div>
  
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-sitemap"></i>
                            </div>
                            <div class="div">
                                <input class="" type="number" value="Puerto del servicio" name="puerto" readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-sm btn-outline-primary ms-1 float" (click) = "actionAct(1)"><i class="fas fa-pen"></i> Editar</button>
        </div>
    </div>
</div>
  
<ng-template #editMail>
    <div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
                <!--Cuadro contenedor de informacion-->
                <h2 style="color: #0846ffff; margin-top: 20px;">Servidor de Correos</h2>
                <p class="text-muted">Configuración para el envio de correos eléctronicos</p>
                <!--Columna 1 de informacion-->
                <div class="col-6">
                    <div class="login-content">
                        <form>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-cloud"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="text" placeholder="HOST" name="host">
                                </div>
                            </div>
      
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="text" placeholder="Usuario del correo" name="usuario">
                                </div>
                            </div>
    
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-key"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="password" placeholder="App Contraseña" name="contraseña">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
      
                <!--Columna 2 de informacion-->
                <div class="col-6" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
                    <div class="login-content">
                        <form>
                            <div class="input-div one">
                                <div class="i">
                                  <i class="fas fa-envelope"></i>
                                </div>
                                <div class="div">
                                    <input type="text" placeholder="Proveedor de servicio" name="proveedor">
                                </div>
                            </div>
      
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-sitemap"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="number" placeholder="Puerto del servicio" name="puerto">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 row justify-content-between">
                    <div class="col-6">
                        <input type="button" class="btn btn-cancel" value="Cancelar" (click) = "actionAct(0);">
                    </div>
                    <div class="col-6">
                        <input type="button" class="btn" value="Actualizar" (click) = "actionAct(0);">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
