<div class="mb-5">
    <div class="row">
        <div class="col-8">
            <h3 class="text-muted"><b>Permisos asignados por rol</b></h3>
            <p class="text-muted">Lista de permisos asiganados a los roles por objeto dentro del sistema.</p>
        </div>
        <div class="col-4">
            <button class="btn btn-sm btn-outline-success ms-2" (click)="openModal(createPermissions)"><i class="fas fa-plus"></i> Crear permisos</button>
        </div>
    </div>
    <div class="col-12">
        <form>
            <div class="mb-2 mt-2 row">
              <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Filtrar:</label>
              <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
              </div>
            </div>
        </form>
          <div class="" style="width: auto; height: 400px; overflow: scroll;">
              <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">OBJETO</th>
                    <th scope="col">ROL</th>
                    <th scope="col">INSERCION</th>
                    <th scope="col">ELIMINACION</th>
                    <th scope="col">ACTUALIZACION</th>
                    <th scope="col">CONSULTAR</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let per of permisosInter | async; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td><ngb-highlight [result]="per.OBJETOS" [term]="filter.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="per.ROL" [term]="filter.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="per.PERMISO_INSERCION | number" [term]="filter.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="per.PERMISO_ELIMINACION | number" [term]="filter.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="per.PERMISO_ACTUALIZACION | number" [term]="filter.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="per.PERMISO_CONSULTAR | number" [term]="filter.value"></ngb-highlight></td>
                    <!-- <td><button class="btn btn-disable btn-sm btn-outline-primary ms-2" (click)="openModal(editPermissions)"><i class="fas fa-pen"></i></button></td> -->
                  </tr>
                  </tbody>
                </table>
          </div>
    </div>
</div>

<!--Modal para actualizar permisos-->
<ng-template #editPermissions let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
                            <!--Cuadro contenedor de informacion-->
                            <h2 style="color: #0846ffff; margin-top: 20px;">Actualización de Permisos</h2>
                            <div class="row">
                                <div class="col-6">
                                    <div class="login-content">
                                        <form>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                                <div class="div">
                                                    <input class="" type="text" value="Rol" name="rol" readonly>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="login-content">
                                        <form>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-sitemap"></i>
                                                </div>
                                                <div class="div">
                                                    <input class="" type="text" value="Objeto" name="objeto" readonly>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="login-content">
                                        <form>
                                            <div class="d-flex row text-muted text-center align-items-center">
                                                <i class="fas fa-check fa-2x"></i>
                                                <h6 class="m-2">Asignación de permisos</h6>
                                            </div>
                                            <table class="table table-borderless">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Consultar</th>
                                                    <th scope="col">Crear</th>
                                                    <th scope="col">Actualizar</th>
                                                    <th scope="col">Eliminar</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                                                  </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                    <input type="button" class="btn" value="Actualizar">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="text-muted text-center">Sistema de permisos Maelcon S de R. L.</p>
                </div>
            </div>
    </div>
</ng-template>

<!--Modal para crear permisos-->
<ng-template #createPermissions let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
                            <!--Cuadro contenedor de informacion-->
                            <h2 style="color: #0846ffff; margin-top: 20px;">Creación de Permisos</h2>
                            <div class="row">
                                <div class="col-6">
                                    <div class="login-content">
                                        <form>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                                <div class="div">
                                                    <select class="form-control" [(ngModel)]="datosPermiso.ID_ROL" name="rol">
                                                        <option selected disabled>Seleccionar rol</option>
                                                        <option *ngFor="let r of roles" [ngValue]="r.ID_ROL">{{r.ROL}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="login-content">
                                        <form>
                                            <div class="input-div">
                                                <div class="i">
                                                    <i class="fas fa-sitemap"></i>
                                                </div>
                                                <div class="div">
                                                    <select class="form-control" [(ngModel)]="datosPermiso.ID_OBJETO" name="objeto">
                                                      <option selected disabled>Seleccionar Objeto</option>
                                                      <option *ngFor="let ob of objetos" [ngValue]="ob.ID_OBJETO">{{ob.OBJETOS}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="login-content">
                                        <form>
                                            <div class="d-flex row text-muted text-center align-items-center">
                                                <i class="fas fa-check fa-2x"></i>
                                                <h6 class="m-2">Asignación de permisos</h6>
                                            </div>
                                            <table class="table table-borderless">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Consultar</th>
                                                    <th scope="col">Crear</th>
                                                    <th scope="col">Actualizar</th>
                                                    <th scope="col">Eliminar</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td><input class="form-check-input" type="checkbox" [(ngModel)]="con" id="flexCheckCONSULTAR" name="flexCheckCONSULTAR"></td>
                                                    <td><input class="form-check-input" type="checkbox" [(ngModel)]="ins" id="flexCheckINSERTAR" name="flexCheckINSERTAR"></td>
                                                    <td><input class="form-check-input" type="checkbox" [(ngModel)]="act" id="flexCheckACTUALIZAR" name="flexCheckACTUALIZAR"></td>
                                                    <td><input class="form-check-input" type="checkbox" [(ngModel)]="elim" id="flexCheckELIMINAR" name="flexCheckELIMINAR"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </form>
                                    </div>
                                    <input type="button" class="btn" value="Crear Permisos" (click)="crearPermiso()">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
            <div class="row">
                <p class="text-muted text-center">Sistema de permisos Maelcon S de R. L.</p>
            </div>
        </div>
</div>
</ng-template>
