<div class="contenedor row justify-content-between m-3" style="position: relative;">
  <div class="col-12 m-3 p-3 row">
    <div class="col-4 login-content">
      <form>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-search"></i>
          </div>
          <div class="div">
            <input class="" type="text" placeholder="Producto, proveedor, estado...">
          </div>
        </div>
      </form>
    </div>
    <div class="col-8 d-flex" style="text-align-last: right;">
      <div class="col-4 mr-1 pt-3 pb-3" style="text-align-last: center;">
        <button class="btn-success m-3" (click)="openModal(createProduct)"><i class="fas fa-plus"></i> Crear
          producto</button>
      </div>
      <div class="col-4 ml-1 pt-3 pb-3" style="text-align-last: center;">
        <button class="btn m-3" (click)="openModal(adminCategories)"><i class="fa fa-gear"></i> Admministrar
          Categorías</button>
      </div>
      <div class="col-4 ml-1 pt-3 pb-3" style="text-align-last: center;">
        <button class="btn m-3" (click)="openModal(adminProviders)"><i class="fa fa-gear"></i> Admministrar
          proveedores</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="justify-content m-3 d-flex">
    <div class="d-flex">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page_number" [pageSize]="page_size"
        (pageChange)="refreshProducts()">
      </ngb-pagination>
    </div>
    <div class="d-flex">
      <select class="custom-select" style="width: auto" [(ngModel)]="page_size" (ngModelChange)="refreshProducts()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
  <div class="col-6" *ngFor="let prd of _productos2 | paginate:page_size:page_number" >
    <!--Cuadro contenedor de informacion-->
    <div class="car-inventary row contenedor p-1" style="position: relative;">
      <div class="p-2" style="text-align-last: center;">
        <h4 style="color: #0846ffff; margin-top: 20px;">{{prd.NOMBRE_PRODUCTO}}</h4>
        <p class="text-muted">Información tarjeta de almacen</p>
        <button class="btn-xs btn-edit" (mouseover)="openModl(prd.ID_PRODUCTO)" (click)="openModal(editCard)"><i class="fas fa-pen"></i></button>
      </div>

      <!--Columna 1 de informacion-->
      <div class="col-6 p-3">
        <div class="login-content">
          <form>
            <div class="input-div one">
              <div class="i">
                <i class="fas fa-handshake"></i>
              </div>
              <div class="div">
                <input class="" type="text" value="Proveedor" [(ngModel)]="prd.NOMBRE_PROVEEDOR" name="proveedor"
                  readonly>
              </div>
              <span class="text-muted details">Nombre del proveedor</span>
            </div>

            <div class="input-div one">
              <div class="i">
                <i class="fas fa-box"></i>
              </div>
              <div class="div">
                <input class="" type="text" value="Producto" [(ngModel)]="prd.NOMBRE_PRODUCTO" name="producto"
                  readonly>
              </div>
              <span class="text-muted details">Nombre del producto</span>
            </div>

            <div class="input-div one">
              <div class="i">
                <i class="fas fa-flag"></i>
              </div>
              <div class="div">
                <input class="" type="text" value="Marca" [(ngModel)]="prd.MARCA_PRODUCTO" name="marca" readonly>
              </div>
              <span class="text-muted details">Marca</span>
            </div>
            <div class="input-div one">
              <div class="i">
                <i class="fas fa-sitemap"></i>
              </div>
              <div class="div">
                <input class="" type="text" value="Categoria" [(ngModel)]="prd.CATEGORIA" name="categoria"
                  readonly>
              </div>
              <span class="text-muted details">Categoria</span>
            </div>
            <div class="input-div one">
              <div class="i">
                <i class="fas fa-info"></i>
              </div>
              <div class="div">
                <input class="" type="text" value="Descripcion" [(ngModel)]="prd.DESCRIPCION_PRODUCTO"
                  name="descripcion" readonly>
              </div>
              <span class="text-muted details">Descripción</span>
            </div>
          </form>
        </div>
      </div>
      <!--Columna 2 de informacion-->
      <div class="col-6" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
        <div class="login-content">
          <form>
            <div class="img-product">
              <img class="img-fluid" src={{prd.IMG_PRODUCTO}} alt="">
            </div>

            <div class="input-div one">
              <div class="i">
                <i class="fas fa-hashtag"></i>
              </div>
              <div class="div">
                <input class="" type="number" value="Existencia" [(ngModel)]="prd.EXISTENCIA" name="existencia" readonly>
              </div>
              <span class="text-muted details">Existencia en almacen</span>
            </div>
            <div class="input-div one">
              <div class="i">
                <i class="fas fa-coins"></i>
              </div>
              <div class="div">
                <input class="" type="number" value="Precio venta" [(ngModel)]="prd.PRECIO_VENTA" name="precioV" readonly>
              </div>
              <span class="text-muted details">Precio oficial de venta</span>
            </div>
            <div class="input-div one">
              <div class="i">
                <i class="fas fa-coins"></i>
              </div>
              <div class="div">
                <input class="" type="number" value="Precio unitario" [(ngModel)]="prd.PRECIO_UNITARIO" name="precioU" readonly>
              </div>
              <span class="text-muted details">Precio unitario en almacen</span>
            </div>
            <div class="justify-content-center">
              <span style="position: absolute;">
                <div *ngIf="prd.ESTADO; else inactivo" class="form-check form-switch text-success">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaul" checked disabled>
                  <label class="form-check-label" for="flexSwitchCheckDefaul">Activo</label>
                </div>
                <ng-template #inactivo>
                  <div class="form-check form-switch text-danger">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" disabled>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Inactivo</label>
                  </div>
                </ng-template>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="justify-content m-3 d-flex">
    <div class="d-flex">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page_number" [pageSize]="page_size"
        (pageChange)="refreshProducts()">
      </ngb-pagination>
    </div>
    <div class="d-flex">
      <select class="custom-select" style="width: auto" [(ngModel)]="page_size" (ngModelChange)="refreshProducts()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
</div>

<!--Modal para actualizar-->
<ng-template #editCard let-modal>
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 row contenedor"
            style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <div class="car-inventary row " style="position: relative;">
              <div>
                <h4 style="color: #0846ffff; margin-top: 20px;">{{datosProd.NOMBRE_PRODUCTO}}</h4>
                <p class="text-muted">Actualización tarjeta de almacen</p>
              </div>

              <!--Columna 1 de informacion-->
              <div class="col-6 p-3">
                <div class="login-content">
                  <form>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-handshake"></i>
                      </div>
                      <div class="div">
                        <select class="form-control" placeholder="Proveedor" [(ngModel)]="datosProd.ID_PROVEEDOR" name="proveedor">
                          <option disabled>Seleccione proveedor</option>
                          <option *ngFor="let prov of _proveedores" [value]="prov.ID_PROVEEDOR">{{prov.NOMBRE_PROVEEDOR}}</option>
                        </select>
                      </div>
                      <span class="text-muted details">Nombre del proveedor</span>
                    </div>

                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-box"></i>
                      </div>
                      <div class="div">
                        <input class="" type="text" placeholder="Producto" [(ngModel)]="datosProd.NOMBRE_PRODUCTO" name="producto">
                      </div>
                      <span class="text-muted details">Nombre del producto</span>
                    </div>

                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-flag"></i>
                      </div>
                      <div class="div">
                        <input class="" type="text" placeholder="Marca" [(ngModel)]="datosProd.MARCA_PRODUCTO" name="marca">
                      </div>
                      <span class="text-muted details">Marca</span>
                    </div>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-sitemap"></i>
                      </div>
                      <div class="div">
                        <select class="form-control" placeholder="Categoria" [(ngModel)]="datosProd.ID_CATEGORIA" name="categoria">
                          <option disabled>Seleccione proveedor</option>
                          <option *ngFor="let cat of _categorias" [value]="cat.ID_CATEGORIA">{{cat.CATEGORIA}}</option>
                        </select>
                      </div>
                      <span class="text-muted details">Categoria</span>
                    </div>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-info"></i>
                      </div>
                      <div class="div">
                        <input class="" type="text" placeholder="Descripcion" [(ngModel)]="datosProd.DESCRIPCION_PRODUCTO" name="descripcion">
                      </div>
                      <span class="text-muted details">Descripción</span>
                    </div>
                  </form>
                </div>
              </div>
              <!--Columna 2 de informacion-->
              <div class="col-6" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
                <div class="login-content">
                  <form>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-file"></i>
                      </div>
                      <div class="div">
                        <input class="" type="file" placeholder="Imagen del producto" name="imagen">
                      </div>
                      <span class="text-muted details">Imagen del producto</span>
                    </div>

                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-hashtag"></i>
                      </div>
                      <div class="div">
                        <input class="" type="number" step="1" placeholder="Existencia" [(ngModel)]="datosProdExist.EXISTENCIA" name="existencia" readonly>
                      </div>
                      <span class="text-muted details">Existencia en almacen</span>
                    </div>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-coins"></i>
                      </div>
                      <div class="div">
                        <input class="" type="number" step="0.01" placeholder="Precio venta" [(ngModel)]="datosProdExist.PRECIO_VENTA" name="precioV">
                      </div>
                      <span class="text-muted details">Precio oficial de venta</span>
                    </div>
                    <div class="input-div one">
                      <div class="i">
                        <i class="fas fa-coins"></i>
                      </div>
                      <div class="div">
                        <input class="" type="number" step="0.01" placeholder="Precio Unitario Almacen" [(ngModel)]="datosProdExist.PRECIO_UNITARIO" name="precioU" readonly>
                      </div>
                      <span class="text-muted details">Precio unitario en almacen</span>
                    </div>
                    <div class="justify-content-center">
                      <span class="pt-2" style="position: absolute; font-size: 1.3rem;">
                        <div *ngIf="datosProd.ESTADO; else inactivo" class="form-check form-switch text-success">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked
                            (click)="activOption(false)">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Activo</label>
                        </div>
                        <ng-template #inactivo>
                          <div class="form-check form-switch text-danger">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                              (click)="activOption(true)">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Inactivo</label>
                          </div>
                        </ng-template>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12 row justify-content-between">
                <div class="col-6">
                  <input type="button" class="btn btn-cancel" value="Cancelar" (click)="modal.dismiss('Cross click')">
                </div>
                <div class="col-6">
                  <input type="button" class="btn" value="Actualizar" (click)="actProd()">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <p class="text-muted text-center">Sistema de Inventario Maelcon S de R. L.</p>
      </div>
    </div>
  </div>
</ng-template>

<!--Modal para crear producto-->
<ng-template #createProduct let-modal>
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <app-product></app-product>
      <div class="row pb-3">
        <p class="text-muted text-center">Sistema de Inventario Maelcon S de R. L.</p>
      </div>
    </div>
  </div>
</ng-template>

<!--Modal para administrar proveedores-->
<ng-template #adminProviders let-modal>
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <app-providers></app-providers>
      <div class="row pb-3">
        <p class="text-muted text-center">Sistema de Inventario Maelcon S de R. L.</p>
      </div>
    </div>
  </div>
</ng-template>

<!--Modal para administrar proveedores-->
<ng-template #adminCategories let-modal>
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <app-categories></app-categories>
      <div class="row pb-3">
        <p class="text-muted text-center">Sistema de Inventario Maelcon S de R. L.</p>
      </div>
    </div>
  </div>
</ng-template>
