<div class="mb-5">
    <div class="row">
        <div class="col-8">
            <h4 class="text-muted"><b>Roles de usuario</b></h4>
            <p class="text-muted">Roles disponibles y asignados a los usuarios del sistema.</p>
        </div>
        <div class="col-4">
            <button class="btn btn-sm btn-outline-primary ms-2" *ngIf="_permisos.PERMISO_INSERCION==1" (click)="openModal(createRol)"><i class="fas fa-plus"></i> Crear rol</button>
        </div>
        <div class="col-12">
            <form>
                <div class="mb-2 mt-2 row">
                  <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Filtrar: </label>
                  <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
                  </div>
                </div>
              </form>
              <div class="" style="width: auto; height: 400px; overflow: scroll;">
                  <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Fecha Creacion</th>
                        <th scope="col">Creado Por</th>
                        <th scope="col">Editar</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let rol of rolesInter | async; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td><ngb-highlight [result]="rol.ROL" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="rol.DESCRIPCION" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="rol.FECHA_CREACION" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="rol.CREADO_POR | number" [term]="filter.value"></ngb-highlight></td>
                        <td><button class="btn btn-disable btn-sm btn-outline-primary ms-2" *ngIf="_permisos.PERMISO_ACTUALIZACION==1" (click)="editarRol(editRol,rol.ID_ROL)"><i class="fas fa-pen"></i></button></td>
                      </tr>
                      </tbody>
                    </table>
              </div>
        </div>
    </div>
</div>

<!--Modal para actualizar roles-->
<ng-template #editRol let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
            <button type="button" class="btn-close" (click)="cerrar()"></button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row p-3">
                    <div class="row contenedor" style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
                        <!--Cuadro contenedor de informacion-->
                        <h2 style="color: #0846ffff; margin-top: 20px;">Actualización de Roles</h2>

                        <div class="row">
                            <div class="col-6">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="div">
                                                <input class="" type="text" minlength="3" placeholder="Nombre del rol" [(ngModel)]="datoRole.ROL" name="rol">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                              <i class="fas fa-info"></i>
                                            </div>
                                            <div class="div">
                                                <input type="text" placeholder="Descripción" [(ngModel)]="datoRole.DESCRIPCION" name="descripcion">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <input type="button" class="btn" value="Actualizar" (click)="evaluarDatos('act')">
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="enam">
                            {{msj}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-muted text-center">Sistema de actualización por Administración</p>
            </div>
        </div>
    </div>
</ng-template>

<!--Modal para crear roles-->
<ng-template #createRol let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
            <button type="button" class="btn-close" (click)="cerrar()"></button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row p-3">
                    <div class="row contenedor" style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
                        <!--Cuadro contenedor de informacion-->
                        <h2 style="color: #0846ffff; margin-top: 20px;">Creación de Roles</h2>

                        <div class="row">
                            <div class="col-6">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="div">
                                                <input class="" type="text" minlength="3" placeholder="Nombre del rol" [(ngModel)]="datoRole.ROL" name="rol">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                              <i class="fas fa-info"></i>
                                            </div>
                                            <div class="div">
                                                <input type="text" placeholder="Descripción" [(ngModel)]="datoRole.DESCRIPCION" name="descripcion">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <input type="button" class="btn" value="Crear rol" (click)="evaluarDatos('add')">
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="enam">
                                {{msj}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-muted text-center">Sistema de actualización por Administración</p>
            </div>
        </div>
    </div>
</ng-template>
