<div>
  <div class="row" *ngIf="typeTable; else searchProduct">
    <div class="col-1"></div>
    <div class="col-8 text-start">
      <h4 class="text-muted"><b>Productos de esta venta</b></h4>
    </div>
    <div class="col-3">
    </div>

    <div class="col-1"></div>
    <div class="col-10">
      <form>
        <div class="mb-2 mt-2 row">
          <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Filtrar: </label>
          <div class="col-xs-3 col-sm-auto">
            <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
          </div>
        </div>
      </form>
      <div class="" style="width: auto; height: 400px; overflow: scroll;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">MARCA</th>
              <th scope="col">PRECIO</th>
              <th scope="col">CANTIDAD</th>
              <th scope="col">SUB TOTAL</th>
              <th scope="col">ACTUALIZAR</th>
              <th scope="col">ELIMINAR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prodDetail of detalleInter| async; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <ngb-highlight [result]="prodDetail.NOMBRE_PRODUCTO" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="prodDetail.MARCA_PRODUCTO" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="prodDetail.MONTO_UNITARIO| number" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="prodDetail.CANTIDAD_PRODUCTO| number" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="prodDetail.SUB_TOTAL| number" [term]="filter.value"></ngb-highlight>
              </td>
              <td><button class="btn btn-disable btn-sm btn-outline-primary ms-2"
                  (click)="openModalAct(editProductSales, prodDetail.ID_PRODUCTO)"><i class="fas fa-pen"></i></button>
              </td>
              <td><button class="btn-alert btn-sm btn-outline-alert ms-2"
                  (click)="eliminarProd(prodDetail.ID_PRODUCTO)"><i class="fas fa-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #searchProduct>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-8 text-start">
        <h4 class="text-muted"><b>Lista de productos disponibles</b></h4>
      </div>
      <div class="col-3">
      </div>

      <div class="col-1"></div>
      <div class="col-10">
        <form>
          <div class="mb-2 mt-2 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Filtrar: </label>
            <div class="col-xs-3 col-sm-auto">
              <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
            </div>
          </div>
        </form>
        <div class="" style="width: auto; height: 400px; overflow: scroll;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">MARCA</th>
                <th scope="col">CATEGORIA</th>
                <th scope="col">EXISTENCIA</th>
                <th scope="col">DESCRIPCION</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prod of existInter | async; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <ngb-highlight [result]="prod.NOMBRE_PRODUCTO" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="prod.MARCA_PRODUCTO" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="prod.CATEGORIA" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="prod.EXISTENCIA | number" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="prod.DESCRIPCION_PRODUCTO" [term]="filter.value"></ngb-highlight>
                </td>
                <td><button class="btn btn-disable btn-sm btn-outline-primary ms-2"
                    (click)="openModalAddProd(addProductSales, prod.ID_PRODUCTO)" [disabled]="listaAddBool[i]"><i
                      class="fas fa-plus"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!--Agregar producto a venta-->
<ng-template #addProductSales let-modal>
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
      <button type="button" id="closeAddProd" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body m-0 p-0">
      <div>
        <div class="">
          <div class="row contenedor m-3"
            style="text-align:center; align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <h2 style="color: #0846ffff; margin-top: 20px;">Agregar Producto a venta</h2>
            <div class="row">
              <div class="col-6">
                <div class="login-content">
                  <form>
                    <div class="input-div">
                      <div class="i">
                        <i class="fas fa-hashtag"></i>
                      </div>
                      <div class="div">
                        <input class="" type="number" min="1" [max]="datosVentProd.EXISTENCIA" placeholder="Cantidad" [(ngModel)]="datosDetalleProd.CANTIDAD_PRODUCTO" name="cantidad">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-6">
                <input type="button" class="btn" value="Agregar producto" (click)="evaluarDatos('add')">
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="enam">
                {{msj}}
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3 m-0">
        <p class="text-muted text-center">Sistema de ventas Maelcon S de R. L.</p>
      </div>
    </div>
  </div>
</ng-template>

<!--Actualizar un producto dentro de una venta-->
<ng-template #editProductSales let-modal>
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
      <button type="button" id="closeActProd" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body m-0 p-0">
      <div>
        <div class="">
          <div class="row contenedor m-3"
            style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <h2 style="color: #0846ffff; margin-top: 20px;">Actualizar producto de la venta</h2>
            <div class="row">
              <div class="col-6">
                <div class="login-content">
                  <form>
                    <div class="input-div">
                      <div class="i">
                        <i class="fas fa-hashtag"></i>
                      </div>
                      <div class="div">
                        <input class="" type="number" min="1" [max]="datosVentProd.EXISTENCIA" placeholder="Cantidad" [(ngModel)]="datosDetalleProd.CANTIDAD_PRODUCTO" name="cantidad">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-6">
                <input type="button" class="btn" value="Actualizar producto" (click)="evaluarDatos('act')">
              </div>
            </div>
            <div class="alert alert-danger p-2" role="alert" *ngIf="enam">
                {{msj}}
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3 m-0">
        <p class="text-muted text-center">Sistema de ventas Maelcon S de R. L.</p>
      </div>
    </div>
  </div>
</ng-template>
