<div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <h2 style="color: #0846ffff; margin-top: 20px;">Variables del sistema</h2>
            <p class="text-muted">Configuración de usuarios y ventas</p>
            <!--Columna 1 de informacion-->
            <div class="col-6">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <input class="" type="number" placeholder="Intentos de sesión" name="intentos_sesion">
                            </div>
                        </div>
  
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <input class="" type="number" placeholder="Intentos de recuperación" name="intentos_recuperacion">
                            </div>
                        </div>

                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-clock"></i>
                            </div>
                            <div class="div">
                                <input class="" type="text" placeholder="tiempo de duracion de usuario" name="tiempo_duracion">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
  
            <!--Columna 2 de informacion-->
            <div class="col-6" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                              <i class="fas fa-percent"></i>
                            </div>
                            <div class="div">
                                <input type="number" placeholder="Porcentaje de ISV" name="ISV">
                            </div>
                        </div>
  
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-percent"></i>
                            </div>
                            <div class="div">
                                <input class="" type="number" placeholder="Porcentaje de comisión por ventas" name="comision">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  