<div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <h2 style="color: #0846ffff; margin-top: 20px;">Base de Datos</h2>
            <p class="text-muted">Servicios Mysql en la nube</p>
            <!--Columna 1 de informacion-->
            <div class="col-6">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-cloud"></i>
                            </div>
                            <div class="div">
                                <input class="" type="text" placeholder="HOST" name="host">
                            </div>
                        </div>
  
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <input class="" type="text" placeholder="Nombre de usuario" name="usuario">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
  
            <!--Columna 2 de informacion-->
            <div class="col-6" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                              <i class="fas fa-database"></i>
                            </div>
                            <div class="div">
                                <input type="text" placeholder="Nombre de la base de datos" name="nombre_base">
                            </div>
                        </div>
  
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-key"></i>
                            </div>
                            <div class="div">
                                <input class="" type="password" placeholder="Contraseña" name="contraseña">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  