<div>
  <div class="row">
      <div class="col-2"></div>
      <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
          <!--Cuadro contenedor de informacion-->
          <h2 style="color: #0846ffff; margin-top: 20px;">Registro Usuario</h2>
          <i style="color: #0846ffff;">Bienvenido a Maelcon</i>
          <!--Columna 1 de informacion-->
          <div class="col-6">
              <div class="login-content">
                  <!--Formulario Registro-->
                  <form>
                      <!--Input Nombre-->
                      <div class="input-div one">
                          <div class="i">
                              <i class="fas fa-user"></i>
                          </div>
                          <div class="div">
                              <input class="" type="text" placeholder="Nombre" [(ngModel)]="usuarioRegistro.NOMBRE" name="nombre">
                          </div>
                      </div>

                      <!--Input Apellido-->
                      <div class="input-div one">
                          <div class="i">
                              <i class="fas fa-user"></i>
                          </div>
                          <div class="div">
                              <input class="" type="text" placeholder="Apellido" [(ngModel)]="usuarioRegistro.APELLIDO" name="apellido">
                          </div>
                      </div>

                      <!--Nombre de usuario-->
                      <div class="input-div one">
                          <div class="i">
                              <i class="fas fa-user"></i>
                          </div>
                          <div class="div">
                              <input class="" type="text" placeholder="Nombre de usuario" [(ngModel)]="usuarioRegistro.USUARIO" name="nombreUsuario">
                          </div>
                      </div>
                      <!--Input numero de telefono-->
                      <div class="input-div one">
                          <div class="i">
                              <i class="fas fa-phone-alt"></i>
                          </div>
                          <div class="div">
                              <input type="number" maxlength="8" min="10000000" max="99999999" placeholder="Telefono" [(ngModel)]="usuarioRegistro.TELEFONO" name="telefono">
                          </div>
                      </div>
                      <!--Input de contraseña-->
                      <div class="input-div one">
                          <div class="i">
                              <i class="fas fa-envelope"></i>
                          </div>
                          <div class="div">
                              <input type="text" placeholder="Correo" [(ngModel)]="usuarioRegistro.CORREO_ELECTRONICO" name="correo">
                          </div>
                      </div>
                      <!--Input de RTN-->
                      <div class="input-div one">
                          <div class="i">
                            <i class="fas fa-id-card"></i>
                          </div>
                          <div class="div">
                              <input type="text" placeholder="RTN" [(ngModel)]="usuarioRegistro.RTN" name="rtn" maxlength="13">
                          </div>
                      </div>
                  </form>
              </div>
          </div>

          <!--Columna 2 de informacion-->
          <div class="col-6" style="margin-top: 40px; margin-bottom: 40px; align-items: center;">
              <div class="login-content">
                  <form>
                      <div class="img-sign-up">
                          <img style="width: 165px; height: 165px;" src="../../../assets/registro.png" alt="">
                      </div>
                      <!--Input Fecha Nacimiento-->
                      <div class="input-div one">
                          <div class="i">
                            <i class="fas fa-image"></i>
                          </div>
                          <div class="div">
                              <input type="file" placeholder="Imagen de perfil" [(ngModel)]="usuarioRegistro.IMG_USUARIO" name="imagenPerfil">
                          </div>
                      </div>

                      <!--Input Pregunta de seguridad-->
                      <div class="input-div one">
                          <div class="i">
                              <i class="fas fa-question"></i>
                          </div>
                          <div class="div">
                              <input class="" type="text" placeholder="Pregunta de seguridad" [(ngModel)]="usuarioRegistro.PREGUNTA" name="pregunta">
                          </div>
                      </div>

                      <!--Input respuesta de seguridad-->
                      <div class="input-div one">
                          <div class="i">
                              <i class="fas fa-equals"></i>
                          </div>
                          <div class="div">
                              <input class="" type="text" placeholder="Respuesta" [(ngModel)]="usuarioRegistro.RESPUESTA" name="respuesta">
                          </div>
                      </div>
                      <!--Input de genero-->
                      <div class="input-div one">
                        <div class="i">
                          <i class="fas fa-neuter"></i>
                        </div>
                        <div class="div">
                          <select class="form-control" [(ngModel)]="usuarioRegistro.GENERO" name="genero">
                            <option value="">Genero</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                            <option value="Prefiero no especificar">Prefiero no especificar</option>
                          </select>
                        </div>
                    </div>
                  </form>
              </div>
          </div>
          <b><i style="color: #0846ffff; font-size:large;">Contraseña:</i></b>
          <div class="row">
              <div class="col-6">
                  <div class="login-content">
                      <form>
                          <!--Contraseña-->
                          <div class="input-div pass">
                              <div class="i">
                                  <i class="fas fa-lock"></i>
                              </div>
                              <div class="div">
                                  <input class="" type="password" placeholder="Contraseña" [(ngModel)]="usuarioRegistro.CONTRASENA" name="contrasena">
                              </div>
                          </div>
                      </form>
                  </div>
                  <input type="button" class="btn-cancel" value="Cancelar" routerLink="">
              </div>
              <div class="col-6">
                  <div class="login-content">
                      <form>
                          <!--Contraseña-->
                          <div class="input-div pass">
                              <div class="i">
                                  <i class="fas fa-lock"></i>
                              </div>
                              <div class="div">
                                  <input type="password" placeholder="Repetir contraseña" [(ngModel)]="segundaContrasena" name="repetir">
                              </div>
                          </div>
                      </form>
                  </div>
                  <input type="button" class="btn" value="Registrarme" (click)="guardarUsuario()">
              </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="validacionCorreo">
              Correo incorrecto, ingrese un correo valido
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="validacionContrasena">
              Las contraseñas no coinciden
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="status">
              Existen campos vacios, debe de rellenar todos campos solicitados.
          </div>
      </div>
      <div class="col-2">

      </div>
  </div>
</div>
