<div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 justify-content-rounded wrapper" style="text-align: center; align-items: center; margin-top: 20px; margin-bottom: 30px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <div class="car-inventary row contenedor">
                <div>
                    <h3 style="color: #0846ffff; margin-top: 20px;">Creación de producto</h3>
                    <p class="text-muted">Formulario de creación de productos</p>
                </div>
                
                <!--Columna 1 de informacion-->
                <div class="col-6 p-3">
                    <div class="login-content">
                        <form>   
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-handshake"></i>
                                </div>
                                <div class="div">
                                    <select class="form-control" name="proveedorSelect">
                                        <option value="">Seleccione proveedor</option>
                                        <option value="Lumex">Lumex</option>
                                        <option value="TEXmac">TEXmac</option>
                                        <option value="Linas S.A.">Linas S.A.</option>
                                        <option value="etc...">etc...</option>
                                    </select>
                                </div>
                            </div>
 
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-box"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="text" placeholder="Producto" name="producto">
                                </div>
                            </div>

                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-flag"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="text" placeholder="Marca" name="marca">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Columna 2 de informacion-->
                <div class="col-6 p-3">
                    <div class="login-content">
                        <form>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-file"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="file" placeholder="Imagen del producto" name="img">
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-sitemap"></i>
                                </div>
                                <div class="div">
                                    <select class="form-control" name="categoriaSelect">
                                        <option value="">Seleccione categoria</option>
                                        <option value="Focos">Focos</option>
                                        <option value="Laminas">Laminas</option>
                                        <option value="Cables">Cables</option>
                                        <option value="etc...">etc...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-info"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="text" placeholder="Descripcion" name="descripcion">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 row justify-content-between">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <input type="button" class="btn" value="Crear Producto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>