<div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 justify-content-rounded wrapper" style="text-align: center; align-items: center; margin-top: 20px; margin-bottom: 30px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <div class="car-inventary row contenedor">
                <div>
                    <h3 style="color: #0846ffff; margin-top: 20px;">Creación de producto</h3>
                    <p class="text-muted">Formulario de creación de productos</p>
                </div>

                <!--Columna 1 de informacion-->
                <div class="col-6 p-3">
                    <div class="login-content">
                        <form>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-handshake"></i>
                                </div>
                                <div class="div">
                                  <select class="form-control" placeholder="Proveedor" [(ngModel)]="datosProd.ID_PROVEEDOR" name="proveedor">
                                    <option disabled>Seleccione proveedor</option>
                                    <option *ngFor="let prov of _proveedores" [value]="prov.ID_PROVEEDOR">{{prov.NOMBRE_PROVEEDOR}}</option>
                                  </select>
                                </div>
                            </div>

                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-box"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="text" placeholder="Producto" [(ngModel)]="datosProd.NOMBRE_PRODUCTO" name="producto">
                                </div>
                            </div>

                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-flag"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="text" placeholder="Marca" [(ngModel)]="datosProd.MARCA_PRODUCTO" name="marca">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Columna 2 de informacion-->
                <div class="col-6 p-3">
                    <div class="login-content">
                        <form>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-file"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="file" placeholder="Imagen del producto" name="img">
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-sitemap"></i>
                                </div>
                                <div class="div">
                                  <select class="form-control" placeholder="Categoria" [(ngModel)]="datosProd.ID_CATEGORIA" name="categoria">
                                    <option disabled>Seleccione proveedor</option>
                                    <option *ngFor="let cat of _categorias" [value]="cat.ID_CATEGORIA">{{cat.CATEGORIA}}</option>
                                  </select>
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-info"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="text" placeholder="Descripcion" [(ngModel)]="datosProd.DESCRIPCION_PRODUCTO" name="descripcion">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 row justify-content-between">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <input type="button" class="btn" value="Crear Producto" (click)="crearProd()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
