<h3 class="text-muted"><b>Lista de usuarios</b></h3>
<p class="text-muted">Lista General de usuarios en la base de datos de la organización.</p>

<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Busqueda por palabras clave:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
    </div>
  </div>
</form>
<div class="" style="width: auto; height: 400px; overflow: scroll;">
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">USUARIO</th>
          <th scope="col">CORREO_ELECTRONICO</th>
          <th scope="col">SUELDO</th>
          <th scope="col">ID_ROL</th>
          <th scope="col">ID_PUESTO</th>
          <th scope="col">ESTADO</th>
          <th scope="col">Editar</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let us of usuariosInter | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td><ngb-highlight [result]="us.USUARIO" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="us.CORREO_ELECTRONICO" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="us.SUELDO | number" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="us.ID_ROL | number" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="us.ID_PUESTO | number" [term]="filter.value"></ngb-highlight></td>
            <td>
              <div *ngIf = "us.ESTADO; else inactivo" class="form-check form-switch text-success">
                  <input class="form-check-input" *ngIf="usAdmon!=1" type="checkbox" id="flexSwitchCheckDefault" checked (click)="activarUser(!us.ESTADO, us.ID_USUARIO)">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Activo</label>
              </div>
              <ng-template #inactivo>
                  <div class="form-check form-switch text-danger">
                      <input class="form-check-input" *ngIf="usAdmon!=1" type="checkbox" id="flexSwitchCheckDefault" (click)="activarUser(!us.ESTADO, us.ID_USUARIO)">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Inactivo</label>
                  </div>
              </ng-template>
            </td>
            <td>
              <button type="button" class="btn btn-outline-primary" (mouseenter)="openModl(us.ID_USUARIO)" (mouseleave)="cerrarModal()" (click)="goUser(us.ID_USUARIO)" data-bs-toggle="modal" data-bs-target="#edit"><i class="fas fa-user-edit"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<!--Modal para actualizar usuario-->
<ng-template  [ngIf]="modal">
  <div class="modal lg fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="false" style="border-radius: 15%;">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
              <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarModal()" aria-label="Close"></button>
              </div>
              <div class="modal-body p-0 m-0">
                  <app-update-user></app-update-user>
              <div class="row">
                  <p class="text-muted text-center">Sistema de actualización por Administración</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</ng-template>
