<div class="">
    <div class="row">
        <div class="col-11" style="border: 5px;">
            <div id="htmlData">
                <table class="table table-bordered mt-4 text-center">
                  <tr class="table table-striped">
                    <th *ngFor="let head of HEADERS">{{head}}</th>
                  </tr>
                  <tr  *ngFor="let info of INFORMATION; let i = index">
                    <th>{{info.ID_BITACORA}}</th>
                    <th>{{info.ID_USUARIO}}</th>
                    <th>{{info.ID_OBJETO}}</th>
                    <th>{{info.ACCION}}</th>
                    <th>{{info.DESCRIPCION}}</th>
                    <th>{{info.INFORMACION_ANTERIOR}}</th>
                    <th>{{info.INFORMACION_ACTUAL}}</th>
                    <th>{{info.FECHA_BITACORA}}</th>
                  </tr>
                </table>
            </div>
        </div>
        <div class="col-1 justify-content-between align-items-center">
            <button class="btn-download " (click)="downloadPDF()"><i class="fas fa-download fa-2x"></i></button>
            <button class="btn-cancel " routerLink = "/administration"><b>X</b></button>
        </div>
    </div>
  </div>
