<div class=" contenedor m-4 p-4">
    <div class="row">
        <div class="col-8">
            <h4 class="text-muted"><b>Clientes registrados</b></h4>
            <p class="text-muted">Lista general de clientes regisytados en el sistema para ventas.</p>
        </div>
        <div class="col-4">
            <button class="btn btn-sm btn-primary ms-2"><i class="fa fa-refresh"></i> Crear</button>
        </div>
        <div class="col-12">
            <form>
                <div class="mb-2 mt-2 row">
                  <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Filtrar: </label>
                  <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
                  </div>
                </div>
              </form>
              <div class="" style="width: auto; height: 400px; overflow: scroll;">
                  <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Country</th>
                        <th scope="col">Area</th>
                        <th scope="col">Population</th>
                        <th scope="col">Editar</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let country of countries | async; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                          <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" style="width: 20px">
                          <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td><ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td>
                        <td><button class="btn btn-disable btn-sm btn-outline-primary ms-2" (click)="openModal(editRol)"><i class="fas fa-pen"></i></button></td>
                      </tr>
                      </tbody>
                    </table>
              </div>
        </div>
    </div>
</div>

<!--Modal para actualizar roles-->
<ng-template #editRol let-modal>
    <div class="modal-content">
        <div class="m-2 d-flex justify-content-end" style="text-align: center; display: block;">
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <hr>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
                        <!--Cuadro contenedor de informacion-->
                        <h2 style="color: #0846ffff; margin-top: 20px;">Actualización de clientes</h2>

                        <div class="row">
                            <div class="col-6 p-3">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="div">
                                                <input class="" type="text" placeholder="Nombre" name="nombre">
                                            </div>
                                        </div>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-address-card"></i>
                                            </div>
                                            <div class="div">
                                                <input type="text" placeholder="RTN" name="rtn">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-6 p-3">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-at"></i>
                                            </div>
                                            <div class="div">
                                                <input type="text" placeholder="Correo electronico" name="email">
                                            </div>
                                        </div>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                            <div class="div">
                                                <input type="text" placeholder="Teléfono" name="telefono">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <input type="button" class="btn" value="Actualizar">
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-muted text-center">Sistema de gestión de clientes</p>
            </div>
        </div>
    </div>
</ng-template>

<!--Modal para crear roles-->
<ng-template #createRol let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end" style="text-align: center; display: block;">
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
                        <!--Cuadro contenedor de informacion-->
                        <h2 style="color: #0846ffff; margin-top: 20px;">Creación de Roles</h2>

                        <div class="row">
                            <div class="col-6">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="div">
                                                <input class="" type="text" placeholder="Nombre del rol" name="rol">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-file"></i>
                                            </div>
                                            <div class="div">
                                                <input type="text" placeholder="Descripción" name="descripcion">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <input type="button" class="btn" value="Crear rol">
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-muted text-center">Sistema de gestión de clientes</p>
            </div>
        </div>
    </div>
