<div class=" contenedor m-4 p-4">
    <div class="row">
        <div class="col-8">
            <h4 class="text-muted"><b>Clientes registrados</b></h4>
        </div>
        <div class="col-4">
            <button class="btn btn-sm btn-primary ms-2" *ngIf="_permisos.PERMISO_INSERCION==1" (click)="openModal(createCustomer)"><i class="fa fa-user-plus"></i> Crear</button>
        </div>
        <div class="col-12">
            <form>
                <div class="mb-2 mt-2 row">
                  <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Filtrar: </label>
                  <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
                  </div>
                </div>
              </form>
              <div class="" style="width: auto; height: 400px; overflow: scroll;">
                  <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">NOMBRE CLIENTE</th>
                        <th scope="col">RTN</th>
                        <th scope="col">DIRECCION CLIENTE</th>
                        <th scope="col">TELEFONO CLIENTE</th>
                        <th scope="col">EDITAR</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let cli of clientesInter | async; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td><ngb-highlight [result]="cli.NOMBRE_CLIENTE" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="cli.RTN" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="cli.DIRECCION_CLIENTE" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="cli.TELEFONO_CLIENTE" [term]="filter.value"></ngb-highlight></td>
                        <td><button class="btn btn-disable btn-sm btn-outline-primary ms-2" *ngIf="_permisos.PERMISO_ACTUALIZACION==1" (click)="openModalAct(editCustomer, cli.ID_CLIENTE)"><i class="fas fa-pen"></i></button></td>
                      </tr>
                      </tbody>
                    </table>
              </div>
        </div>
    </div>
</div>

<!--Modal para actualizar roles-->
<ng-template #editCustomer let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
          <button type="button" id="closeActCus" class="btn-close" (click)="modal.dismiss('Cross click');cancel()"></button>
        </div>
        <hr>
        <div class="modal-body">
            <div>
                <div class="row p-3">
                    <div class="row contenedor" style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
                        <!--Cuadro contenedor de informacion-->
                        <h2 style="color: #0846ffff; margin-top: 20px;">Actualización de clientes</h2>

                        <div class="row">
                            <div class="col-6 p-3">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="div">
                                                <input class="" type="text" placeholder="Nombre" [(ngModel)]="datosCustomer.NOMBRE_CLIENTE" name="nombre">
                                            </div>
                                        </div>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-address-card"></i>
                                            </div>
                                            <div class="div">
                                                <input type="text" minlength="14" maxlength="14" placeholder="RTN" [(ngModel)]="datosCustomer.RTN" name="rtn">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-6 p-3">
                                <div class="login-content">
                                    <form>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-adress"></i>
                                            </div>
                                            <div class="div">
                                                <input type="text" placeholder="Direccion" [(ngModel)]="datosCustomer.DIRECCION_CLIENTE" name="direccion">
                                            </div>
                                        </div>
                                        <div class="input-div">
                                            <div class="i">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                            <div class="div">
                                                <input type="text" minlength="8" maxlength="8" placeholder="Teléfono" [(ngModel)]="datosCustomer.TELEFONO_CLIENTE" name="telefono">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <input type="button" class="btn" value="Actualizar" (click)="evaluarDatos('act')">
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="enam">
                          {{msj}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <p class="text-muted text-center">Sistema de gestión de clientes</p>
            </div>
        </div>
    </div>
</ng-template>

<!--Modal para crear roles-->
<ng-template #createCustomer let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end p-3" style="text-align: center; display: block;">
            <button type="button" id="closeAddCus" class="btn-close" (click)="modal.dismiss('Cross click');cerrar()"></button>
        </div>
        <hr>
        <div class="modal-body">
            <div>
                <div class="row p-3">
                    <div class="row contenedor" style="text-align: center;  align-items: center; display: flex; background-color: #fff; border-radius: 15px;">
                        <!--Cuadro contenedor de informacion-->
                        <h2 style="color: #0846ffff; margin-top: 20px;">Creación de clientes</h2>
                        <div class="row">
                          <div class="col-6 p-3">
                              <div class="login-content">
                                  <form>
                                      <div class="input-div">
                                          <div class="i">
                                              <i class="fas fa-user"></i>
                                          </div>
                                          <div class="div">
                                              <input class="" type="text" placeholder="Nombre" [(ngModel)]="datosCustomer.NOMBRE_CLIENTE" name="nombre">
                                          </div>
                                      </div>
                                      <div class="input-div">
                                          <div class="i">
                                              <i class="fas fa-address-card"></i>
                                          </div>
                                          <div class="div">
                                              <input type="text" minlength="14" maxlength="14" placeholder="RTN" [(ngModel)]="datosCustomer.RTN" name="rtn">
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                          <div class="col-6 p-3">
                              <div class="login-content">
                                  <form>
                                      <div class="input-div">
                                          <div class="i">
                                              <i class="fas fa-adress"></i>
                                          </div>
                                          <div class="div">
                                              <input type="text" placeholder="Direccion" [(ngModel)]="datosCustomer.DIRECCION_CLIENTE" name="direccion">
                                          </div>
                                      </div>
                                      <div class="input-div">
                                          <div class="i">
                                              <i class="fas fa-phone"></i>
                                          </div>
                                          <div class="div">
                                              <input type="text" minlength="8" maxlength="8" placeholder="Teléfono" [(ngModel)]="datosCustomer.TELEFONO_CLIENTE" name="telefono">
                                          </div>
                                      </div>

                                  </form>
                              </div>
                              <input type="button" class="btn" value="Crear" (click)="evaluarDatos('add')">
                          </div>
                        </div>
                        <div class="alert alert-danger p-2" role="alert" *ngIf="enam">
                          {{msj}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <p class="text-muted text-center">Sistema de gestión de clientes</p>
            </div>
        </div>
    </div>
</ng-template>
