<div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <h2 style="color: #0846ffff; margin-top: 20px;">Crear respaldo</h2>

            <div class="col-6 p-3">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-file"></i>
                            </div>
                            <div class="div">
                                <input class="" type="text" placeholder="Nombre del archivo" name="nombre">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-folder"></i>
                            </div>
                            <div class="div">
                                <input class="" type="file" placeholder="Directorio de destino" name="directorio" webkitdirectory>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6 p-3">
                <input type="button" class="btn" value="Crear">   
            </div>
            
        </div>
    </div>
  </div>
  