
<div class="modal lg fade" id="ventasReport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
          <div class="modal-header d-flex justify-content-between" style="text-align: center; display: block;">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body m-3">
            <form>
              <div class="row">
                <div class="col-6">
                  <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="div">
                        <input class="form-control" type="date" [max]="fechaAct" [(ngModel)]="datosFechas.fechaIni" name="fechaIniVentas">
                    </div>
                    <span class="text-muted details">Fecha inicial</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="div">
                        <input class="form-control" type="date" [min]="datosFechas.fechaIni" [max]="fechaAct" [(ngModel)]="datosFechas.fechaFin" name="fechaFinVentas">
                    </div>
                    <span class="text-muted details">Fecha final</span>
                  </div>
                </div>
              </div>
              <button class="btn btn-success pt-2 pb-2 m-3 justify-content-end" (click)="evaluarDatos()">Crear reporte</button>
            </form>
            <div class="alert alert-danger m-2" role="alert" *ngIf="enam">
              {{msj}}
            </div>
          </div>
          <div class="row p-3">
              <p class="text-muted text-center">Generar reporte de bitacora, Maelcon S de R. L.</p>
          </div>
      </div>
  </div>
</div>
