<div  *ngIf = "actionVal == 1; else admon">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 row contenedor p-1" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <h2 style="color: #0846ffff; margin-top: 20px;">Cambio de contraseña</h2>

            <div class="col-12 p-3">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <input class="" type="password" placeholder="Contraseña Actual" [(ngModel)]="password" name="password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <b><i style="color: #0846ffff; font-size:large;">Nueva contraseña:</i></b>
            <div class="row">
                <div class="col-6 p-2">
                    <div class="login-content">
                        <form>
                            <!--Contraseña-->
                            <div class="input-div pass">
                                <div class="i">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="password" placeholder="Contraseña" [(ngModel)]="primeraContrasena" name="contrasena">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 p-2">
                    <div class="login-content">
                        <form>
                            <!--Contraseña-->
                            <div class="input-div pass">
                                <div class="i">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <div class="div">
                                    <input type="password" placeholder="Repetir contraseña" [(ngModel)]="segundaContrasena" name="repetir">
                                </div>
                            </div>
                        </form>
                    </div>
                    <input type="button" class="btn" value="Actualizar" (click)="actualizarContrasena()">
                </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="validacionContrasena">
                {{msj}}
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
  </div>

<ng-template #admon>
  <div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 row contenedor p-1" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <h2 style="color: #0846ffff; margin-top: 20px;">Cambio de contraseña</h2>

            <div class="col-12 p-3">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                              <select class="form-control" [(ngModel)]="idUsuario" name="idUser">
                                <option selected disabled>Seleccione un Usuario</option>
                                <option *ngFor="let r of usuarios" [ngValue]="r.ID_USUARIO">{{r.USUARIO}}</option>
                              </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <b><i style="color: #0846ffff; font-size:large;">Nueva contraseña:</i></b>
            <div class="row">
                <div class="col-6 p-2">
                    <div class="login-content">
                        <form>
                            <!--Contraseña-->
                            <div class="input-div pass">
                                <div class="i">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="password" placeholder="Contraseña" [(ngModel)]="primeraContrasena" name="contrasena">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 p-2">
                    <div class="login-content">
                        <form>
                            <!--Contraseña-->
                            <div class="input-div pass">
                                <div class="i">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <div class="div">
                                    <input type="password" placeholder="Repetir contraseña" [(ngModel)]="segundaContrasena" name="repetir">
                                </div>
                            </div>
                        </form>
                    </div>
                    <input type="button" class="btn" value="Actualizar" (click)="actualizarContUser()">
                </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="validacionContrasena">
                Las contraseñas no coinciden
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="validacionId">
                Escoge un usuario para actualizar la contraseña
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
  </div>
</ng-template>
