<div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 row contenedor" style="text-align: center;  align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; background-color: #fff; border-radius: 15px;">
            <!--Cuadro contenedor de informacion-->
            <h2 style="color: #0846ffff; margin-top: 20px;">Cambio de contraseña</h2>

            <div class="col-12 p-3">
                <div class="login-content">
                    <form>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <input class="" type="password" placeholder="Contraseña Actual" name="password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <b><i style="color: #0846ffff; font-size:large;">Nueva contraseña:</i></b>
            <div class="row">
                <div class="col-6">
                    <div class="login-content">
                        <form>
                            <!--Contraseña-->
                            <div class="input-div pass">
                                <div class="i">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <div class="div">
                                    <input class="" type="password" placeholder="Contraseña" [(ngModel)]="primeraContrasena" name="contrasena">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <div class="login-content">
                        <form>
                            <!--Contraseña-->
                            <div class="input-div pass">
                                <div class="i">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <div class="div">
                                    <input type="password" placeholder="Repetir contraseña" [(ngModel)]="segundaContrasena" name="repetir">
                                </div>
                            </div>
                        </form>
                    </div>
                    <input type="button" class="btn" value="Actualizar">
                </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="validacionContrasena">
                Las contraseñas no coinciden
            </div>
        </div>
        <div class="col-2">
  
        </div>
    </div>
  </div>
  